/* Theme-specific styles */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --link-color: #1a73e8;
  --button-background: #1a73e8;
  --button-text-color: #ffffff;
  --border-color: #dddddd;
  --card-background: #f8f9fa;/* Light mode card background */
}

[data-theme="dark"] {
  --background-color: #121212;
  --text-color: #ffffff;
  --link-color: #8ab4f8;
  --button-background: #333333;
  --button-text-color: #ffffff;
  --border-color: #333333;
  --card-background: #2b2b2b; /* Dark mode card background */
}

.card {
  background-color: var(--card-background);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.text-center {
  color: var(--text-color);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Existing styles with theme integration */
.movies-grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
  grid-template-columns: repeat(5, 1fr); /* This ensures 5 cards in a row */
  gap: 25px;
  padding: 0 60px;
}

.movie-card {
  text-align: center;
  padding: 10px;
  background-color: var(--card-background);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.movie-card:hover {
  transform: translateY(-5px);
}

.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.movie-card p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

.movie-details {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--card-background);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}

.details-container {
  display: flex;
  gap: 20px;
}

.movie-details img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  /* margin-right: 20px; */
}

.info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.movie-details h1 {
  margin-bottom: 20px;
  font-size: 2.5rem; 
  color: orangered; 
  font-family: 'Oswald', sans-serif; /* Cinematic font */
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); 
  letter-spacing: 0.05em; 
  text-transform: uppercase; 
}


.movie-details p {
  margin: 10px 0;
  color: var(--text-color);
  font-size: 1rem;
}

.movie-details a {
  color: var(--link-color);
  text-decoration: none;
}

.movie-details a:hover {
  text-decoration: underline;
}

.movie-details .details-container {
  display: flex;
  align-items: flex-start;
}

.movie-details .info-container {
  flex: 1;
}

.movie-details .ott-providers {
  margin-top: 20px;
}

.movie-details .ott-providers a {
  display: block;
  margin-bottom: 5px;
  color: var(--link-color);
}

.movie-details .ott-providers a:hover {
  text-decoration: underline;
}

.favorite-button {
  background-color:  #ff4500;
  color: var(--button-text-color);
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.favorite-button:hover {
  background-color:var(--button-text-color);
  color:#ff4500;
}

.add-review {
  margin-top: 40px;
  background-color: var(--card-background);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.register-form {
  width: 100%;
  max-width: 400px;
  background-color: var(--card-background);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 70px;
}

.register-form h1 {
  margin-bottom: 20px;
  font-size: 1.8rem;
  text-align: center;
  color: var(--text-color);
}

.register-form label {
  font-size: 14px;
  color: var(--text-color);
}

.register-form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.register-form button {
  width: 100%;
  padding: 10px;
  background-color: #1a73e8;
  color: var(--button-text-color);
  border-color: #1a73e8;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.register-form button:hover {
  background-color: var(--link-color);
}

/* Specific styles for the login card in dark mode */
[data-theme="dark"] .login-card {
  background-color: var(--card-background);
  color: var(--text-color);
  width:350px
}

[data-theme="dark"] .login-card input {
  background-color: #333333;
  color: #ffffff;
  border-color: var(--border-color);
}

[data-theme="dark"] .login-card button {
  background-color: #1a73e8;
  color: var(--button-text-color);
  border-color: #1a73e8;
}

.search-results-heading {
  text-align: center;
  font-size: 2.5rem;
  color: red; 
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: bold;
}

.movie-card a {
  text-decoration: none;
  color: inherit; /* Use the inherited color */
}

.movie-card a:hover p {
  text-decoration: underline;
}

.review-list {
  margin-top: 20px;
}

.review-list-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: var(--text-color);
}

.review-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.review-item {
  padding: 15px;
  margin-bottom: 10px;
  background-color: var(--card-background);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.review-username {
  font-weight: bold;
  color: var(--text-color);
}

.review-comment {
  margin: 10px 0;
  font-size: 1rem;
  color: var(--text-color);
}

.review-rating {
  display: block;
  font-size: 0.9rem;
  color: var(--text-color-secondary);
}

.review-actions {
  margin-top: 10px;
}

.review-actions button {
  background: none;
  border: none;
  color: var(--button-text-color);
  font-size: 1rem;
  margin-right: 15px;
  cursor: pointer;
}

.review-actions button i {
  margin-right: 5px;
}

.review-actions .like-button:hover i,
.review-actions .dislike-button:hover i {
  color: var(--link-color);
}

.load-more-button {
  display: block;
  margin: 20px auto 0;
}

/* favorites page */
.favorites-container {
  max-width: 1100px;
  margin: 40px auto;
  padding: 20px;
  background-color: var(--card-background);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.favorites-heading {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: red;
  font-weight: 700;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  padding-bottom: 10px;
  position: relative;
}

.favorites-heading::after {
  content: '';
  width: 50px;
  height: 4px;
  background: linear-gradient(90deg, #ff7e5f, #aefe7c);
  display: block;
  margin: 10px auto 0;
}


.favorites-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.favorite-card {
  text-align: center;
  padding: 10px;
  background-color: var(--card-background);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.favorite-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.favorite-card p {
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-color);
  margin-top: 5px;
}

.favorite-card:hover {
  transform: translateY(-5px);
}

.no-favorites {
  text-align: center;
  font-size: 1.2rem;
  color: var(--text-color);
  margin-top: 20px;
}
